body {
  background: #39CCCC;
  text-align: center;
}

nav {
  background: #000000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 15px;
  font-weight: bold;
}

.album-details {
  text-align: center;
  font-weight: 500;
  color: DarkRed;
  font-size: 18px;
  left: 50px;
}


.song {
  color: DarkRed;
  font-size: 20px;
  font-weight: bold;
}

.song:hover {
  background: black;
  color: white;
}

.player-bar {
  text-align: center;
  padding-top: 50px;
}
